.nav-container-header.closed {
  width: 0%;
  transition: width 0.5s;
}

.nav-container-header.opened {
  width: 60%;
  transition: width 0.5s ease-in-out;
}

.nav-container-header {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr;
  gap: 40px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  font-family: 'Barlow Condensed', sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
}

.nav-container-header a {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
}

.path {
  border: 3px solid #555;
  background: #000;
  left: 55px;
  top: 64px;
  clip-path: polygon(50% 0%,
      61% 35%,
      100% 50%,
      65% 65%,
      50% 100%,
      50% 100%,
      50% 100%,
      35% 65%,
      0 50%,
      35% 35%);
}

@media (min-width: 768px) {

  .nav-container-header.closed,
  .nav-container-header.nav-container-header.opened {
    width: 100%;
  }
}